


<head>
    <title>
        FAQ Page
    </title>
    <!-- <link href="~/Content/FAQ.css" rel="stylesheet" /> -->
</head>
<body>
    <section>
        <h2 class="title" style="padding-top:50px">Here are some frequently asked questions !</h2>
       
        <div class="faq">
            <div class="question">
                <h3>1. How do you calculate my home loan eligibility?</h3>
                <svg width="15" height="10" viewBox="0 0 42 45">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Mostly all the banks offer a home loan amount that is up to 60 times your existing net income per month. Also, banks do not take into consideration leave or medical allowance while making the calculation. Banks also take into consideration your CIBIL (credit) score and also your commitments to other
                    EMIs (if any). Therefore, you need to understand what exactly your lender is looking for while calculating your home loan eligibility.
                </p>
            </div>
        </div>
       
        <div class="faq">
            <div class="question">
                <h3>2. What would be an ideal home loan tenure ?</h3>
                <svg width="15" height="10" viewBox="0 0 42 45">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Generally, most home loan lenders provide a tenure that varies from 1 to 30 years for loan repayment. However, the flexible home loan tenure can
                    be tweaked as per your income, age and financial situation. Therefore, it is important to askyour lender about the tenure
                    range available, as your home loan EMIs will completely depend on the tenure you choose.
                </p>
            </div>
        </div>
        
        <div class="faq">
            <div class="question">
                <h3>3. What is the home loan processing fee?</h3>
                <svg width="15" height="10" viewBox="0 0 42 45">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>
            </div>
            <div class="answer">
                <p>
                    We don't charge any loan processing fee like banks do. You can complete the whole home loan process with free of cost.
                </p>
            </div>
        </div>
        
        <div class="faq">
            <div class="question">
                <h3>4. What is the interest rate offered on home loan?</h3>
                <svg width="15" height="10" viewBox="0 0 42 45">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>
            </div>
            <div class="answer">
                <p>
                    Even a minor difference in interest rate can have a huge impact on the overall loan amount and EMIs. So that's why we offer
                    8.5% of rate on the whole loan amount.
                </p>
            </div>
        </div>
       
        <div class="faq">
            <div class="question">
                <h3>5. What are the documents required to apply for a home loan? </h3>
                <svg width="15" height="10" viewBox="0 0 42 45">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>
            </div>
            <div class="answer">
                <p>
                    There are certain generic documents like Sale Deed, Possession certification, NOC, etc, and KYC documents such as Aadhar Card, PAN Card
                    Voter ID Card, etc. that anyone applying for a home loan must provide. Besides these,salaried professionals and self-employed
                    individuals need to share some specific documents depending upon their nature of work.
                </p>
            </div>
        </div>

    </section>
    <!-- <script src="~/Scripts/FAQ.js"></script> -->
</body>



